map {
	width : 40%;
	height: 100%;
}

info {
	width : 60%;
	height: 100%;
}

.country {
  fill: #222;
}

.canton-boundaries {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
}
 
.municipality-boundaries {
  fill: none;
  stroke: #fff;
  stroke-width: .3;
}