.country {
  fill :#f25;
}


.canton-boundaries {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
}

.municipality-boundaries {
  fill: none;

  stroke: #fff;
  stroke-width: .3;
}

body {
	width: 66em;
	margin: 0 auto;
	color: #333;
}

h1 {
    text-align: center;
}

#full_name {
	font-weight: bold;
}

.background {
  fill: none;
  pointer-events: all;
}


#cantons {
  fill: #222;
}


.lakes {
  fill: steelblue;
  fill-opacity: 1;
}

#municipalities {
  fill: #222;
}

#municipalities .active {
  fill: red;
}

#cantons .active {
  fill: orange;
}

#cantons-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#ux_info {
    text-align: center;
}
