map {
	width : 40%;
	height: 100%;
}

info {
	width : 60%;
	height: 100%;
}

.country {
  fill: #222;
}

.canton-boundaries {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
}

.municipality-boundaries {
  fill: none;
  stroke: #fff;
  stroke-width: .3;
}

body {
	width: 50em;
	margin: 0 auto;
	color: #333;
}

#full_name {
	font-weight: bold;
}
