<% if @comments.empty? %>
    <p>Cette personne n'a recu aucune question, soyez le premier à la contacter!</p>
<% else %>
    <% @comments.each do |comment| %>
        <a href="#" class="upvote" data-comment-id="<%= comment.id %>">Up</a>
        <a href="#" class="downvote" data-comment-id="<%= comment.id %>">Down</a>
        <%= comment.title %><%= comment.content %>
    <% end %>
<% end %>

<% if current_commenter.nil? %>
    <p>Vous devez vous connecter pour pouvoir intéragir sur le site.</p>
<% else %>
    <form id="sendQuestionId">
      <label>Question: </label><br><input type="text" placeholder="Posez votre question" style="width:100%;" name="titre">
      <label>Description:</label><br><textarea style="width:100%;" name="description" placeholder="Quelques précisions sur votre question"></textarea>
      <input type="submit" value="Envoyer"/>
    </form>
<% end %>
